In [1]:
import json
from tkinter import messagebox

In [20]:
email_entry = "aca@gmail.com"
password_entry = "a12"

correctness = False
with open('data/password.json','r') as pass_data:
    data = json.load(pass_data)
for i in data:
    i_email = data[i]['email']
    i_pass = data[i]['password']
    if email_entry == data[i]['email'] and password_entry == data[i]['password']:
        correctness = True
        role = data[i]['role']
        
if correctness==True and role=='admin':
    print("Email is correct")
    print("\nYour role is admin")
    print("Opening with full access")
    #messagebox.showinfo(title="Login Details", message="Login was Successful. Welcome Admin !")
elif correctness==True and role=='user':
    print("Email is correct")
    print("\nYour role is user")
    print("Opening with limited access")  
    #messagebox.showinfo(title="Login Details", message="Login was Successful. Welcome User !")
    
else:
    print("Cred is wrong")
    #messagebox.showerror(title="Login Details", message="Login failed. Please check your credentials")

Cred is wrong

In [3]:
print(data['Anoop']['role'])

admin

In [2]:
import pandas as pd
import numpy as np

sd = pd.read_csv("data/student_data.csv",index_col=False)

In [79]:
q = '1VPCMB01'
sd = pd.read_csv('data/file_name.csv',index_col=False)
sd2 = sd[sd['Student ID']!=q]
sd2.to_csv('data/file_name.csv', index=False)

In [3]:
new_t = []
for i in range(len(sd)):
    for j in sd:
        new_t.append(sd[j][i])
    print(new_t)
    new_t = []

['1VSPCMS07', 'Anoop', 'Chipli', 'Science-PCMS']
['1VCEABC21', 'Jonathan', 'Joestar', 'Commerce-EABC']
['1VPCMB', 'Mark', 'Lee', 'Science-PCMB']
['1VCEABS', 'John', 'Doe', 'Commerce-EABS']

In [25]:
q = 'Anoop'
new_v = []
correctness = True
for i in range(len(sd)):
    for j in sd:
        new_v.append(sd[j][i])
    if q in new_v:
        print(new_v)
    new_v = []

['1VSPCMS07', 'Anoop', 'Chipli', 'Science-PCMS']

In [23]:
sample = ['1VSPCMS07', 'Anoop', 'Chipli', 'Science-PCMS']
if q in sample:
    print("It exists")
else:
    print("Its not")

It exists

In [20]:
#print(sd)
data = {
    'Student ID':['1VSEAB23'],
    'First Name':['Julius'],
    'Last Name':['Caesar'],
    'Stream':['Commerce-EABS'],
}
df2 = pd.DataFrame(data)
#print(df2)

  Student ID First Name Last Name         Stream
0   1VSEAB23     Julius    Caesar  Commerce-EABS

In [29]:
sd = sd.append(df2,ignore_index = True)
sd.to_csv('data/student_data.csv', index=False)

In [32]:
sd

  Student ID First Name Last Name         Stream
0  1VCEABC21   Jonathan   Joestar  Commerce-EABC
1   1VPCMS01      Anoop    Chipli   Science-PCMS
2    1PCMB01       John       Doe   Science-PCMB
3    1PCMB02      Sammy      Tong   Science-PCMB
4   1VSEAB22     Jotaro      Kujo  Commerce-EABS
5   1VSEAB23     Julius    Caesar  Commerce-EABS

In [1]:
sd = sd.replace('Julius','Agustus')
sd.to_csv('data/student_data.csv', index=False)

NameError: name 'sd' is not defined

In [3]:
sd.rows()

  Student ID First Name Last Name         Stream
0  1VCEABC21   Jonathan   Joestar  Commerce-EABC
1   1VPCMS01      Anoop    Chipli   Science-PCMS
2    1PCMB01       John       Doe   Science-PCMB
3    1PCMB02      Sammy      Tong   Science-PCMB
4   1VSEAB22     Jotaro      Kujo  Commerce-EABS
5   1VSEAB21     Julius    Caesar  Commerce-EABS